{
  "swagger": "2.0",
  "info": {
    "version": "1.1",
    "title": "Rebilly Checkout API",
    "contact": {
      "name": "Rebilly API Support",
      "url": "https://www.rebilly.com/contact/",
      "email": "integrations@rebilly.com"
    },
    "license": {
      "name": "Rebilly",
      "url": "https://www.rebilly.com/api/license/"
    },
    "termsOfService": "https://www.rebilly.com/terms/",
    "x-logo": {
      "url": "https://rebilly.github.io/RebillyAPI/rb_apiLogo.svg",
      "backgroundColor": "#0033A0"
    },
    "description": "# Introduction\nThis page is about our hosted checkout pages feature.\n\n# Authentication\nWhen you sign up for an account, you are given your first API key.\nYou can generate additional API keys, and delete API keys (as you may\nneed to rotate your keys in the future). You authenticate to the\nRebilly API by providing your secret key in the request header.\n\nRebilly offers three forms of authentication:  private key, JSON Web Tokens, and\npublic key.\n- private key: authenticates each request by searching for the presence\nof an HTTP header: REB-APIKEY.\n- JWT: authenticates each request by the HTTP header: Authorization.\n- public key: authenticates by the HTTP header: REB-AUTH (read more on this below).\n\nRebilly also offers JSON Web Tokens (JWT) authentication, where you can control\nthe specific granular permissions and expiration for that JWT.  We call our resource\nfor generating JWT Sessions.\n\nNever share your secret keys. Keep them guarded and secure.\n\n<!-- ReDoc-Inject: <security-definitions> -->\n"
  },
  "host": "api.rebilly.com",
  "basePath": "/v2.1",
  "schemes": [
    "https"
  ],
  "x-servers": [
    {
      "url": "//api.rebilly.com/v2.1",
      "description": "Live Server"
    },
    {
      "url": "//api-sandbox.rebilly.com/v2.1",
      "description": "Sandbox Server"
    }
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "tags": [
    {
      "name": "Checkout Pages",
      "description": "Hosted checkout pages can be configured here.  You can customize the theme\nand content and more that appears on your hosted checkout pages.\n"
    }
  ],
  "securityDefinitions": {
    "ApiKey": {
      "description": "When you sign up for an account, you are given your first API key.\nTo do so please follow this link: https://www.rebilly.com/site/signup/\nAlso you can generate additional API keys, and delete API keys (as you may\nneed to rotate your keys in the future).\n",
      "name": "REB-APIKEY",
      "type": "apiKey",
      "in": "header"
    },
    "JWT": {
      "description": "You can create a JSON Web Token (JWT) via our Sessions resource.\n",
      "type": "basic"
    },
    "RebAuth": {
      "description": "Only for the Tokens resource.\nThe REB-AUTH value is created in this way\nGenerate a Nonce (random string), and a Timestamp (unix timestamp)\nConcatenate the values of ApiUser, Nonce, and Timestamp (in that order).\nUse that value as the input data when you calculate the <a href=\"http://tools.ietf.org/html/rfc2104\">HMAC-SHA1</a> with your secret key, called the signature.\nForming the four data points into a JSON object.\n\n```json\n{\n  \"REB-APIUSER\": \"abcdefg\",\n  \"REB-NONCE\": \"adfsjtreitou345fgkdafgj\",\n  \"REB-TIMESTAMP\": \"1382591345\",\n  \"REB-SIGNATURE\": \"a234fc95460401cfg09c9d09\"\n}\n```\n\nThen base64 encode that JSON object. This is the final value of the REB-AUTH HTTP header\n",
      "name": "REB-AUTH",
      "type": "apiKey",
      "in": "header"
    }
  },
  "security": [
    {
      "ApiKey": []
    }
  ],
  "responses": {
    "AccessForbidden": {
      "description": "Access forbidden, invalid API-KEY was used",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "NotFound": {
      "description": "Resource was not found",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    }
  },
  "parameters": {
    "resourceId": {
      "name": "id",
      "in": "path",
      "description": "The resource identifier string",
      "type": "string",
      "required": true
    },
    "collectionLimit": {
      "name": "limit",
      "in": "query",
      "description": "The collection items limit",
      "type": "integer",
      "minimum": 0,
      "maximum": 1000
    },
    "collectionOffset": {
      "name": "offset",
      "in": "query",
      "description": "The collection items offset",
      "type": "integer",
      "minimum": 0
    },
    "collectionFilter": {
      "name": "filter",
      "in": "query",
      "type": "string",
      "description": "The collection items filter requires a special format.\nUse \",\" for multiple allowed values.  Use \";\" for multiple fields.\nSee the filter guide for more options and examples about this format.\n"
    },
    "collectionQuery": {
      "name": "q",
      "in": "query",
      "type": "string",
      "description": "The partial search of the text fields."
    },
    "collectionCriteria": {
      "name": "criteria",
      "in": "query",
      "type": "string",
      "description": "The json criteria for collection"
    },
    "collectionFields": {
      "name": "fields",
      "in": "query",
      "type": "string",
      "description": "Limit the returned fields to the list specified, separated by comma.  Note that id is always returned."
    },
    "collectionExpand": {
      "name": "expand",
      "in": "query",
      "type": "string",
      "description": "Expand response to get full related object intead of ID.  See the expand guide for more info."
    }
  },
  "paths": {
    "/checkout-pages": {
      "get": {
        "tags": [
          "Checkout Pages"
        ],
        "summary": "Retrieve a list of checkout pages",
        "description": "Retrieve a list of checkout pages\n",
        "parameters": [
          {
            "$ref": "#/parameters/collectionLimit"
          },
          {
            "$ref": "#/parameters/collectionOffset"
          },
          {
            "$ref": "#/parameters/collectionFilter"
          },
          {
            "$ref": "#/parameters/collectionQuery"
          },
          {
            "$ref": "#/parameters/collectionExpand"
          },
          {
            "$ref": "#/parameters/collectionFields"
          },
          {
            "$ref": "#/parameters/collectionCriteria"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of checkout pages was retrieved successfully",
            "headers": {
              "Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "type": "integer"
              },
              "Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "type": "integer"
              },
              "Rate-Limit-Reset": {
                "description": "The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)\nwhen the current period will reset\n",
                "type": "string"
              },
              "Pagination-Total": {
                "description": "Total items count",
                "type": "integer"
              },
              "Pagination-Limit": {
                "description": "Items per page limit",
                "type": "integer"
              },
              "Pagination-Offset": {
                "description": "Pagination offset",
                "type": "integer"
              }
            },
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CheckoutPage"
              }
            }
          },
          "401": {
            "$ref": "#/responses/AccessForbidden"
          }
        }
      },
      "post": {
        "tags": [
          "Checkout Pages"
        ],
        "summary": "Create a Checkout Page",
        "description": "Create a Checkout Page\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Checkout Page resource",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckoutPage"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Checkout Page was created",
            "headers": {
              "Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "type": "integer"
              },
              "Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "type": "integer"
              },
              "Rate-Limit-Reset": {
                "description": "The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)\nwhen the current period will reset\n",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/CheckoutPage"
            }
          },
          "401": {
            "$ref": "#/responses/AccessForbidden"
          },
          "422": {
            "description": "Invalid data was sent",
            "schema": {
              "$ref": "#/definitions/InvalidError"
            }
          }
        }
      }
    },
    "/checkout-pages/{id}": {
      "parameters": [
        {
          "$ref": "#/parameters/resourceId"
        }
      ],
      "get": {
        "tags": [
          "Checkout Pages"
        ],
        "summary": "Retrieve a Checkout Page",
        "description": "Retrieve a Checkout Page with specified identifier string.\n",
        "responses": {
          "200": {
            "description": "Checkout Page was retrieved successfully",
            "schema": {
              "$ref": "#/definitions/CheckoutPage"
            }
          },
          "401": {
            "$ref": "#/responses/AccessForbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Checkout Pages"
        ],
        "summary": "Update a Checkout Page",
        "description": "Update a Checkout Page.\n",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Checkout Page resource",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckoutPage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout Page was updated",
            "headers": {
              "Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "type": "integer"
              },
              "Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "type": "integer"
              },
              "Rate-Limit-Reset": {
                "description": "The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)\nwhen the current period will reset\n",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/CheckoutPage"
            }
          },
          "201": {
            "description": "Checkout Page was created",
            "headers": {
              "Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "type": "integer"
              },
              "Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "type": "integer"
              },
              "Rate-Limit-Reset": {
                "description": "The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)\nwhen the current period will reset\n",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/CheckoutPage"
            }
          },
          "401": {
            "$ref": "#/responses/AccessForbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "422": {
            "description": "Invalid data was sent",
            "schema": {
              "$ref": "#/definitions/InvalidError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Checkout Pages"
        ],
        "summary": "Delete a Checkout Page",
        "description": "Delete a Checkout Page with predefined identifier string\n",
        "responses": {
          "204": {
            "headers": {
              "Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "type": "integer"
              },
              "Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "type": "integer"
              },
              "Rate-Limit-Reset": {
                "description": "The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)\nwhen the current period will reset\n",
                "type": "string"
              }
            },
            "description": "Checkout Page was deleted"
          },
          "401": {
            "$ref": "#/responses/AccessForbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "409": {
            "description": "Checkout page cannot be deleted"
          }
        }
      }
    }
  },
  "definitions": {
    "CheckoutPage": {
      "type": "object",
      "required": [
        "name",
        "planId",
        "websiteId",
        "uriPath",
        "theme"
      ],
      "properties": {
        "id": {
          "description": "Checkout page identifier string",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/ResourceId"
            }
          ]
        },
        "planId": {
          "description": "Checkout page plan ID.  If the plan is deactivated, the submit button on the checkout page will be deactivated and the page will display \"Sold Out.\"",
          "type": "string",
          "allOf": [
            {
              "$ref": "#/definitions/ResourceId"
            }
          ]
        },
        "websiteId": {
          "description": "Checkout page website ID",
          "type": "string",
          "allOf": [
            {
              "$ref": "#/definitions/ResourceId"
            }
          ]
        },
        "uriPath": {
          "description": "Your own custom uri path for this Checkout Page. It will be appended to checkout url https://checkout.rebilly.com/checkout/<uriPath>",
          "type": "string",
          "maxLength": 50
        },
        "name": {
          "description": "Checkout page name, used for internal display to help you organize your various checkout pages.",
          "type": "string"
        },
        "isActive": {
          "description": "If checkout page active.  If deactivated, the checkout page uri will result in a 404.",
          "type": "boolean"
        },
        "redirectUrl": {
          "description": "After a successful checkout, the customer can be redirected to a url of your choice.  If left empty, the customer will remain on the thank you page.",
          "type": "string"
        },
        "redirectTimeout": {
          "description": "The time (in seconds) that the customer will remain on the thank you page before being redirected to the `redirectUrl`.",
          "type": "integer"
        },
        "allowCustomCustomerId": {
          "description": "Set to true if you want to supply your own customer ID's in a querystring parameter on your checkout page.",
          "type": "boolean"
        },
        "theme": {
          "description": "Select from pre-designed themes for your checkout page.",
          "type": "string",
          "default": "classic",
          "enum": [
            "classic",
            "long-copy"
          ]
        },
        "logoUri": {
          "description": "Secure uri for logo.  Recommended to be a .png, .jpg, or .jpeg under 120KB.  You can reference a file public permalink.  If no logo, your website name will appear at the top of the page.",
          "type": "string"
        },
        "headerBackgroundColor": {
          "description": "HEX color of the background of the header section of the page, starts with `#`.",
          "type": "string",
          "maxLength": 7
        },
        "sections": {
          "description": "Sections of background color, font color and content.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "backgroundColor": {
                "description": "HEX color of the background color for the section, starts with `#`.",
                "type": "string",
                "maxLength": 7
              },
              "fontColor": {
                "description": "HEX color of the font color, starts with `#`.",
                "type": "string",
                "maxLength": 7
              },
              "content": {
                "description": "The text you want to appear in the section, written in [markdown](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet).",
                "type": "string"
              }
            }
          }
        },
        "formFieldCompanyName": {
          "description": "Choose whether a field is hidden, optional, or required.",
          "type": "string",
          "default": "optional",
          "enum": [
            "hidden",
            "optional",
            "required"
          ]
        },
        "formFieldPhoneNumber": {
          "description": "Choose whether a field is hidden, optional, or required.",
          "type": "string",
          "default": "optional",
          "enum": [
            "hidden",
            "optional",
            "required"
          ]
        },
        "formFieldAddressLine2": {
          "description": "Choose whether a field is hidden, optional, or required.",
          "type": "string",
          "default": "optional",
          "enum": [
            "hidden",
            "optional",
            "required"
          ]
        },
        "formFieldCouponCode": {
          "description": "Choose whether a field is hidden, optional, or required.",
          "type": "string",
          "default": "optional",
          "enum": [
            "hidden",
            "optional",
            "required"
          ]
        },
        "formFieldQuantity": {
          "description": "Choose whether a field is hidden, optional, or required.  If optional or required, the default value is 1.",
          "type": "string",
          "default": "optional",
          "enum": [
            "hidden",
            "optional",
            "required"
          ]
        },
        "formButtonColor": {
          "description": "HEX color of the form button color, starts with `#`.",
          "type": "string",
          "maxLength": 7
        },
        "formButtonText": {
          "description": "Text you want to appear on your \"Submit\" button.",
          "type": "string",
          "default": "Submit"
        },
        "thankYouText": {
          "description": "A message to display on our hosted \"Thank you\" page.",
          "type": "string"
        },
        "_links": {
          "type": "array",
          "description": "The links related to resource",
          "readOnly": true,
          "minItems": 1,
          "items": [
            {
              "$ref": "#/definitions/SelfLink"
            }
          ]
        }
      }
    },
    "Error": {
      "type": "object",
      "properties": {
        "status": {
          "type": "integer",
          "minimum": 100,
          "maximum": 600
        },
        "error": {
          "type": "string"
        }
      }
    },
    "InvalidError": {
      "allOf": [
        {
          "$ref": "#/definitions/Error"
        },
        {
          "type": "object",
          "properties": {
            "details": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      ]
    },
    "NewLink": {
      "type": "object",
      "properties": {
        "href": {
          "description": "The link URL",
          "type": "string"
        }
      },
      "required": [
        "href"
      ]
    },
    "ResourceId": {
      "type": "string",
      "description": "The resource ID. Defaults to UUID v4",
      "maxLength": 50,
      "example": "4f6cf35x-2c4y-483z-a0a9-158621f77a21"
    },
    "SelfLink": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/NewLink"
        }
      ],
      "properties": {
        "rel": {
          "description": "The link type",
          "type": "string",
          "enum": [
            "self"
          ]
        }
      },
      "required": [
        "rel"
      ]
    }
  }
}
